/node_modules
/coverage
/.nyc_output
/demo/waveform-data.js
/demo/waveform-data.js.map
/demo/waveform-data.esm.js
/demo/waveform-data.esm.js.map
/demo/waveform-data.min.js
/demo/waveform-data.min.js.map
